Build.props
Make.config.inc
Make.config.local
configure.inc
dotnet.config
_ios-build
_mac-build
_build
*.userprefs
*.user
*.suo
*.exe
*.dll
*.mdb
*.pdb
bin
obj
packages
.DS_Store
jenkins-results
.vs
*.raw
global.json
.idea
mono_crash.*.json
*.binlog
.vscode
*.lscache
# Xcode
xcuserdata/
.build/
