<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AudioUnitExtension</string>
	<key>CFBundleExecutable</key>
	<string>AppExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.AudioUnitExtensionTest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>type</key>
					<string>aufx</string>
					<key>subtype</key>
					<string>test</string>
					<key>manufacturer</key>
					<string>Xmrn</string>
					<key>name</key>
					<string>XamarinTest: TestAU</string>
					<key>version</key>
					<integer>1</integer>
					<key>sandboxSafe</key>
					<true/>
					<key>tags</key>
					<array>
						<string>Effects</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit</string>
		<key>NSExtensionPrincipalClass</key>
		<string>TestAudioUnitFactory</string>
	</dict>
</dict>
</plist>
